.ArticleType{
    display: none;
    position: absolute;
    top: 25%;
    left: 38%;
    width: auto;
    height: auto;
    padding: 10px;
    border: 5px solid gray;
    background-color:#b3d7ff;
    z-index: 1002;
    overflow: auto;
    text-align: center !important;
}